@media (min-width: 320px) and (max-width: 479.98px){  
/* offcanvas */
.btn-close:focus {
	outline: 0;
	box-shadow: 0 0 0 .25rem transparent;
	opacity: 1;
}
.offcanvas-end {
    width: 280px;
} 
/* banner */
.banner {
	background-position: center;
}
.banner .banner_wrapper .banner_item p {
	color: black;
}
.banner .banner_wrapper {
	padding: 150px 0 150px 0;
}
.banner .banner_wrapper .banner_item a {
	background-color: #5a6e79;
}
.banner .banner_wrapper .banner_item a:hover {
	background-color: #ffc178;
}

/* department */
.department {
	padding: 0px 0;
}
.department .section_header p {
	padding: 25px 0px;
}
.department .departmet_wrapper .department_item {
	margin-top: 20px;
}

/* about */
.about .about_Cercle {
  display: none;
}
.about .about_wrapper .about_left .left_img::before {
	display: none;
}
.about .about_wrapper .about_left .left_img::after {
	display: none;
}
.about .about_wrapper .about_left .round_attached {
	display: none;
}
.about .about_wrapper .about_left .left_img img {
	height: 400px;
}
.about .about_wrapper .about_right {
	padding-left: 0px;
    padding-top: 20px;
}
.about_wrapper {
	padding-top: 50px;
}
/* versity */
.versity .section_header h4 {
	line-height: 56px;
}
.versity .versity_wrapper .versity_wrap {
	margin-top: 30px;
}


}
    
@media (min-width: 480px) and (max-width: 575.98px){  
    /* offcanvas */
    .btn-close:focus {
        outline: 0;
        box-shadow: 0 0 0 .25rem transparent;
        opacity: 1;
    }
    .offcanvas-end {
        width: 280px;
    } 
    /* banner */
    .banner {
        background-position: center;
    }
    .banner .banner_wrapper .banner_item p {
        color: black;
    }
    .banner .banner_wrapper {
        padding: 150px 0 150px 0;
    }
    .banner .banner_wrapper .banner_item a {
        background-color: #5a6e79;
    }
    .banner .banner_wrapper .banner_item a:hover {
        background-color: #ffc178;
    }
    
    /* department */
    .department {
        padding: 0px 0;
    }
    .department .section_header p {
        padding: 25px 0px;
    }
    .department .departmet_wrapper .department_item {
        margin-top: 20px;
    }
    
    /* about */
    .about .about_Cercle {
      display: none;
    }
    .about .about_wrapper .about_left .left_img::before {
        display: none;
    }
    .about .about_wrapper .about_left .left_img::after {
        display: none;
    }
    .about .about_wrapper .about_left .round_attached {
        display: none;
    }
    .about .about_wrapper .about_left .left_img img {
        height: 400px;
    }
    .about .about_wrapper .about_right {
        padding-left: 0px;
        padding-top: 20px;
    }
    .about_wrapper {
        padding-top: 50px;
    }
    /* versity */
    .versity .section_header h4 {
        line-height: 56px;
    }
    .versity .versity_wrapper .versity_wrap {
        margin-top: 30px;
    }
    
    
    }
    
/* @media (min-width: 576px) and (max-width: 767.98px){  
        
                           
} */
    
/* @media (min-width: 768px) and (max-width: 991.98px){  
   
                
} */

/* @media (min-width: 992px) and (max-width: 1199.98px){  
     
       
} */

/* @media (min-width: 1200px) and (max-width: 1399.98px){  
    
       
} */